/* CSS reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

ul,
ol,
figure,
pre {
  margin: 1em 0;
}

body {
  background: linear-gradient(90deg, #2e2e2e, #3b3b3b, #4f4f4f);
  max-width: 1000px;
  text-decoration: none;

  h4 {
    display: inline-block;
    color: #e5e7eb;
    background-color: rgb(3, 67, 64);
    font-size: 0.875rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    border-radius: 9px;
    margin: 0;
  }

  margin: 0 auto;
  padding: 2% 5%;
  > header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;

    nav {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding-top: 20px;
      > a:first-child {
        text-decoration: none;
        font-size: 1.25rem;
        color: rgb(242, 243, 245);
        font-weight: 700;
      }

      a {
        color: #d1d5db;
        text-decoration: none;
        font-size: 0.8rem;
      }

      a:hover {
        opacity: 1;
      }
    }

    > a:last-child {
      padding-right: 1em;
      opacity: 1;

      img {
        width: 2em;
        height: 2em;
        border-radius: 50%;
      }
    }

    > a:last-child:hover {
      opacity: 0.8;
    }
  }

  article {
    > header {
      width: 100%;
      max-width: 100%;
      margin: 0;
      position: relative;
      h1 {
        color: var(--gray-100);
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: -0.02em;
        text-transform: none;
        text-shadow: none;
      }
      time {
        color: rgba(255, 255, 255, 0.7);
        font-weight: normal;
        position: relative;
      }

      a {
        color: #4361ee;
        font-weight: 500;
        transition: all 0.3s ease;

        &:hover {
          color: #3a0ca3;
        }
      }

      img {
        width: 200px;
        height: 140px;
        margin-left: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
        object-fit: cover;
        align-self: center;
      }

      @media screen and (max-width: 768px) {
        h1 {
          font-size: 1.4rem;
          width: 100%;
        }

        p {
          font-size: 0.95rem;
          width: 100%;
        }

        img {
          width: 100%;
          max-width: 280px;
          height: auto;
          margin: 1rem auto 0;
          display: block;
        }
      }
    }

    > section {
      max-width: 800px;
      line-height: 1.7;
    }
  }

  /* global footer */
  > footer {
    border-top: 1px solid var(--gray-100);
    margin-top: 8rem;

    nav {
      padding: 1rem 0;
      display: flex;
      gap: 0.5em;

      a {
        opacity: 0.8;
      }
      a:hover {
        opacity: 1;
      }

      a:nth-child(2) {
        margin-left: auto;
      }
    }
  }
}
