/*
  Reusable gallery component. Used on front page
*/

.gallery {
  list-style-type: circle;
  padding: 0;
  a {
    text-decoration: none;
    color: var(--gray-100);
  }

  figure {
    transition: transform 0.1s;
    align-items: flex-start;
    display: flex;
    &:hover {
      transform: scale(1.01);
    }

    @media (width < 900) {
      img {
        display: none;
      }
    }
  }

  h2 {
    color: var(--main-600);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin: 0;
  }

  img {
    display: none;
  }
  p {
    display: none;
  }
  time {
    display: none;
    font-weight: 300;
    font-size: 85%;
  }
}
