article a {
  text-decoration: underline var(--main-500) 1px;
  text-underline-offset: 3px;
  color: var(--gray-100);
  font-weight: 500;

  &:hover {
    text-decoration-color: var(--main-100);
    color: var(--marker);
    text-decoration-thickness: 2px;
  }
}

h2 {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 500;
}

li {
  text-wrap: balance;
  margin-bottom: 1em;
}

pre {
  --glow-padding: 2em;
  font-size: 105%;
}

img, pre {
  border-radius: 8px;
}

img {
  max-width: 100%;
  height: auto;
}

blockquote {
  border-left: 2px solid var(--gray-100);
  text-wrap: balance;
  margin: .5em 0;
  padding-left: .5em;

  & p {
    font-size: 90%;
    font-style: italic;
    line-height: 1.5;
  }

  & strong {
    background-color: var(--marker);
    font-weight: inherit;
    margin-inline: -.2em;
    padding: .1em .2em;
  }
}
